.story {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('./assets/story-cover.png');
	margin-right: 10px;
	height: 200px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.story > h4 {
	font-size: 2vw;
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.single-story {
	text-align: center;
}

.single-story > h3 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-decoration: underline;
}

.single-story > .story-content {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
}

@media (max-width: 600px) {
	.story {
		margin: 10px auto;
	}
	.story > h4 {
		font-size: 4vw;
	}
}

@media (min-width: 2000px) {
	.story > h4 {
		font-size: 1.5vw;
	}
}
